
.popup{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
}
.popup-content{
    position: relative;
    display: flex;
    width: 50vw;
    height: 60vh;
    background: white;
    box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
    border-radius: 0.25rem;
}
.popup-content1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 40vh;
    background: white;
    box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
    border-radius: 25px;
}
.show_detail{
    width: 60%;
    height: 100%;
    padding: 20px 20px;
}
.show_item{
    display: flex;
    margin-top: 20px ;
    margin-bottom: 20px;
}
.show_item select{
    border: 1px solid #000000;
    border-radius: 4px;
    width: 80%;
    margin-left: 10px;
}
.show_item label{
    margin-right: 10px;
    width: 20%;
}
.popup_btn{
    position: absolute;
    outline: none !important;
    bottom: 20px;
    right: 20px;
}
.btn-right{
    right: 0px;
}
.input_qty{
    display: flex;
    width: 123px;
    height: 46px;
    border: 2px solid #ebebeb;
    padding: 0 15px;
    float: left;
    margin-right: 14px;
}
.imgbox{
}
.img{
    width: 112px;
    margin-top: 40px;
}
.img_popup{
    width: 40%;
    height: 100%;
    padding: 20px 20px;
}
.title1{
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #32ba7c;
}
.para{
    font-weight: 500;
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;


}

#s_button{
    background: #32ba7c;
}
#e_button{
    background: #ff3636;
}

.order-histry-area .order-history {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -30px;
}
.order-histry-area .order-history .profile {
    width: calc(35% - 30px);
    margin-left: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.order-histry-area .order-history .profile .order-pro {
    padding: 30px;
    display: flex;
    align-items: center;
}
.order-histry-area .order-history .profile .order-pro .pro-img img {
    border: 3px solid #eee;
    border-radius: 100%;
}
.order-histry-area .order-history .profile .order-pro .order-name {
    margin-left: 15px;
}
.order-histry-area .order-history .profile .order-pro .order-name h4 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    line-height: 1;
}
.order-histry-area .order-history .profile .order-pro .order-name span {
    font-size: 13px;
    color: #9da9b9;
    margin-top: 12px;

}
.order-histry-area .order-history .profile .order-his-page ul.profile-ul li.profile-li a {
    position: relative;
    width: 100%;
    padding: 15px 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.order-histry-area .order-history .profile .order-his-page ul.profile-ul li.profile-li a:after {
    background-color: #f5ab1e;
    content: '';
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 18px;
    width: 2px;
    height: 15px;
}
.order-histry-area .order-history .profile .order-his-page ul.profile-ul li.profile-li a.active:after {
    background-color: #fff;
}
.order-histry-area .order-history .profile .order-his-page ul.profile-ul li.profile-li a:hover {
    background-color: #f5f5f5;
    color: #333;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.order-histry-area .order-history .profile .order-his-page ul.profile-ul li.profile-li a.active {
    background-color: #f5ab1e;
    color: #fff;
    border-color: #f5ab1e;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.order-histry-area .order-history .profile .order-his-page ul.profile-ul li.profile-li a span.pro-count {
    background-color: #f5ab1e;
    width: 25px;
    height: 25px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.order-histry-area .order-history .profile .order-his-page ul.profile-ul li.profile-li a.active span.pro-count {
    background-color: #fff;
    color: #333;
}
.order-histry-area .order-history .order-info {
    width: calc(65% - 30px);
    margin-left: 30px;
}
.order-histry-area .order-history .order-info .table {
    border-top: 1px solid #eee;
}
.order-histry-area .order-history .order-info .table thead {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.order-histry-area .order-history .order-info .table thead tr th {
    padding-top: 11px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.order-histry-area .order-history .order-info .table tbody tr td {
    padding-top: 11px;
    padding-bottom: 10px;
}
.order-histry-area .order-history .order-info .table tbody tr td.canceled {
    color: #ff5252;
}
.order-histry-area .order-history .order-info .table tbody tr td.process {
    color: #50c6e9;
}
.order-histry-area .order-history .order-info .table tbody tr td.delayed {
    color: #ffb74f;
}
.order-histry-area .order-history .order-info .table tbody tr td.delivered {
    color: #43d9a3;
}
/* profile page css */
.order-histry-area .order-history .profile-form {
    width: calc(65% - 30px);
    margin-left: 30px;
}
.order-histry-area .order-history .profile-form form ul.pro-input-label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -30px;
    margin-top: 15px;
}
.order-histry-area .order-history .profile-form form ul.pro-input-label:first-child {
    margin-top: 0px;
}
.order-histry-area .order-history .profile-form form ul.pro-input-label li {
    width: calc(50% - 30px);
    margin-left: 30px;
}
.order-histry-area .order-history .profile-form form ul.pro-input-label li label {
    font-size: 15px;
}
.order-histry-area .order-history .profile-form form ul.pro-input-label1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -30px;
    margin-top: 15px;
}
.order-histry-area .order-history .profile-form form ul.pro-input-label1:first-child {
    margin-top: 0px;
}
.order-histry-area .order-history .profile-form form ul.pro-input-label1 li {
    width: calc(50% - 30px);
    margin-left: 30px;
}
.order-histry-area .order-history .profile-form form ul.pro-input-label1 li label {
    font-size: 20px;
}
.order-histry-area .order-history .profile-form form ul.pro-input-label li input {
    width: 100%;
    border: 1px solid #eee;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 15px;
}
.order-histry-area .order-history .profile-form form ul.pro-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #eee;
}
/* pro address css */
.order-histry-area .order-history .profile-address {
    width: calc(65% - 30px);
    margin-left: 30px;
}
.order-histry-area .order-history .profile-address form .pro-add-title h4 {
    font-size: 22px;
    color: #333;
    font-weight: 500;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
    line-height: 1;
}
.order-histry-area .order-history .profile-address form ul.add-label-input {
    margin-left: -30px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.order-histry-area .order-history .profile-address form ul.add-label-input li {
    width: calc(50% - 30px);
    margin-left: 30px;
}
.order-histry-area .order-history .profile-address form ul.add-label-input li  label {
    font-size: 14px;
    color: #333;
}
.order-histry-area .order-history .profile-address form ul.add-label-input li  input {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.order-histry-area .order-history .profile-address form ul.add-label-input li  select {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.order-histry-area .order-history .profile-address form ul.pro-submit {
    margin-top: 30px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
}
.order-histry-area .order-history .profile-address form ul.pro-submit li {
    display: flex;
    align-items: center;
}
.order-histry-area .order-history .profile-address form ul.pro-submit li input {
    margin-right: 5px;
}
.order-histry-area .order-history .profile-form form ul.pro-submit li {
    display: flex;
    align-items: center;
    line-height: 1;
}
.order-histry-area .order-history .profile-form form ul.pro-submit li input {
    margin-right: 5px;
}
/* profile wishlist page css */
.order-histry-area .order-history .profile-wishlist {
    width: calc(65% - 30px);
    margin-left: 30px;
}
/* tickets page css */
.order-histry-area .order-history .profile-tickets {
    width: calc(65% - 30px);
    margin-left: 30px;
}
.order-histry-area .order-history .profile-tickets .table {
    border-top: 1px solid #eee;
}
.order-histry-area .order-history .profile-tickets .table thead tr th {
    padding-top: 11px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.order-histry-area .order-history .profile-tickets .table tbody tr td {
    padding-top: 11px;
    padding-bottom: 10px;
}
.order-histry-area .order-history .profile-tickets .table tbody tr td.canceled {
    color: #ff5252;
}
.order-histry-area .order-history .profile-tickets .table tbody tr td.process {
    color: #50c6e9;
}
.order-histry-area .order-history .profile-tickets .table tbody tr td.delayed {
    color: #ffb74f;
}
.order-histry-area .order-history .profile-tickets .table tbody tr td.delivered {
    color: #43d9a3;
}
.section-tb-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
